/* CONFIGURAÇÕES BÁSICAS */

*{
    margin: 0; /* Zera todas as margens externas dos elementos */
    padding: 0;/* Zera todas as margens internas dos elementos */
}

body{
    background-color:black;
}

.flex{
    display:flex
}

.flex-wrap{
    flex-wrap: wrap;
}

.row-wrap{
    flex-flow:row wrap;
}

.column-wrap{
    flex-flow: column wrap;
}

.content-justify{
    justify-content: space-between;
}

/* CORPO */

section#container{
    width:900px; /* Largura da Caixa */
    height:100%; /* Altura da Caixa */
    border:80px solid rgb(5, 5, 5); /* Espessura da Borda, Tipo da Borda e Cor da Borda */
    background-size: 1080px 900px; /* tamanho do background */
    background-color:rgb(5, 5, 5); /* Cor da Caixa */
    margin:auto; /* Centraliza a container de acordo com a largura do dispositivo */
    border-top: 0px; /* borda superior */
    border-bottom: 0px;
}

section#container h1{
    font-family: 'Reem Kufi Fun';
    font-size:60px; /* tamanho da fonte */
    font-weight: bold; /* força do negrito: de 400 a 900 */
    color:#eea243; /* cor da letra */
    padding-top: 10px; /* margem interna superios */
    text-align: center;
}

span#span-h1{
    color:rgb(255,235,203);
}

section#container h2{
    font-family: 'Reem Kufi Fun';
    font-size:40px;
    font-weight:bold;
    color:white;
    padding-top: 30px;
    margin-bottom: 30px;
}

section#container h3{
    font-family:'Source Sans Pro';
    font-size:26px;
    font-weight:400;
    color:#eea243;
    padding-top: 5px;
    margin-top: 0px;
}

div#sobremim{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.texto{
    color:#eea243;
    font-family: 'Roboto';
    font-size: 20px;
    padding-top: 10px;
}

.caixa{
    width: 900px;
    height: 333px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 100px;
    background-color: rgb(5, 5, 5);
    box-sizing: border-box;
}

div#formacao{
    margin-top:0px;
    text-align: right;
    margin-right: 0px;
    padding-right: 10px;
}

div#formacao p{
    font-family:'Roboto';
    font-size: 18px;
    font-weight:900px;
    color:white;
}

div#hobbies{
    padding-left: 10px;
}

div#hobbies ul{
    list-style: none;
    margin-right: 10px;
}

div#hobbies li{
    font-family:'Roboto';
    font-size: 18px;
    font-weight:400px;
    color:#eea243;
    padding-top: 20px;
}

div#interesses{
    margin-top: 0px;
    text-align: right;
    padding-right: 10px;
}

div#interesses ul{
    list-style: none;
    text-align: right;
    padding-top: 5px;
}

div#interesses li{
    font-family:'Roboto';
    font-size: 25px;
    font-weight: 400;
    color: #eea243;
    padding-top: 5px; 
}

.page-selected-button{
    background-color: crimson;
}

.item{
    font-family: 'Roboto';
    font-size: 25px;
    margin: 0px 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

section#menu{
    width: 1900px;
    height: 35px;
    padding-top: 5px;
}

nav{
    text-align: center;
}

section#menu h2{
    color:white;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 1425px;
    padding-left: 10px;
}

section#construcao{
    display:flex;
    justify-content: center;
    color:#eea243;
}
section#construcao img{
    width: 400px;
    height: 400px;
    padding-top:10%;
    padding-left: 10%;
}